em_alignment @ https://github.com/fmi-basel/gfriedri-em-alignment.git@v0.2.4
prefect
prefect-dask
dask-jobqueue
cpr @ https://github.com/fmi-faim/custom-prefect-result.git@v0.1.7
sofima @ https://github.com/google-research/sofima@6e0eb7566c5a53dfa602a4cb48017bf8aeb0c681
