profiles {
    standard {
        conda.enabled = true
        conda.useMamba = true
        conda.cacheDir = "$baseDir/../infrastructure/envs/"

        process {
            executor = 'local'

            withLabel: 'cpu' {
                conda = "$baseDir/../infrastructure/env-yamls/environment.yaml"
                cpus = 2
            }

            withLabel: 'gpu' {
                conda = "$baseDir/../infrastructure/env-yamls/environment.yaml"
                cpus = 2
            }
        }
    }


    slurm {
        conda.enabled = true
        conda.useMamba = true
        conda.cacheDir = "$baseDir/../infrastructure/envs/"


        executor {
            name = 'slurm'
            submitRateLimit = '1 sec'
            queueSize = 50
        }

        process {

            withLabel: 'cpu' {
                conda = "$baseDir/../infrastructure/env-yamls/environment.yaml"
                cpus = 2
                memory = '10 GB'
                queue = 'several'
                clusterOptions = '--time=06:00:00 --constraint "infiniband"'
            }
            withLabel: 'gpu' {
                conda = "$baseDir/../infrastructure/env-yamls/environment.yaml"
                cpus = 2
                memory = '10 GB'
                queue = 'several'
                clusterOptions = '--time=06:00:00 --gres=gpu:1 --constraint "infiniband"'
            }
        }
    }
}
