profiles {
    standard {
        conda.enabled = true
        conda.useMamba = true
        conda.cacheDir = "$baseDir/../infrastructure/envs/"

        process {
            executor = 'local'

            withLabel: 'cpu' {
                conda = "$baseDir/../infrastructure/env-yamls/environment.yaml"
                cpus = 2
            }

            withLabel: 'gpu' {
                conda = "$baseDir/../infrastructure/env-yamls/environment.yaml"
                cpus = 2
            }
        }
    }


    slurm {
        conda.enabled = true
        conda.useMamba = true
        conda.cacheDir = "$baseDir/../infrastructure/envs/"


        executor {
            name = 'slurm'
            submitRateLimit = '10 sec'
            queueSize = 10
            queue = 'main'
        }

        process {

            withLabel: 'cpu' {
                conda = "$baseDir/../infrastructure/env-yamls/environment.yaml"
                cpus = 16
                memory = '16 GB'
                clusterOptions = '--time=12:00:00 --constraint "infiniband"'
            }
            withLabel: 'gpu' {
                conda = "$baseDir/../infrastructure/env-yamls/environment.yaml"
                cpus = 12
                memory = '96 GB'
                clusterOptions = '--time=12:00:00 --gres=gpu:a40:1 --constraint "infiniband"'
            }
        }
    }
}
